*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* CSS Layout GENERALES */


/* CSS Particulares */

.btn-outline-success{
    color: white;
    border-color: white;
}

.img-fluid{
    min-width: auto;
}

/* CSS Grid */



/* Bootstrap */


/* Mediaquery */

