.btn, .btn-mg, .btn-compartir {
  background-color: #e37616;
  border-color: #d6a009;
  color: white; }

.btn:hover, .btn-mg:hover, .btn-compartir:hover,
.btn:focus,
.btn-mg:focus,
.btn-compartir:focus,
.btn:active,
.btn-mg:active,
.btn-compartir:active,
.btn.active,
.active.btn-mg,
.active.btn-compartir {
  background-color: #d39d06;
  border-color: #bb8500;
  color: #FFFFFF; }

.btn.disabled:hover, .disabled.btn-mg:hover, .disabled.btn-compartir:hover,
.btn.disabled:focus,
.disabled.btn-mg:focus,
.disabled.btn-compartir:focus,
.btn.disabled:active,
.disabled.btn-mg:active,
.disabled.btn-compartir:active,
.btn.disabled.active,
.disabled.active.btn-mg,
.disabled.active.btn-compartir,
.btn[disabled]:hover,
.btn-mg[disabled]:hover,
.btn-compartir[disabled]:hover,
.btn[disabled]:focus,
.btn-mg[disabled]:focus,
.btn-compartir[disabled]:focus,
.btn[disabled]:active,
.btn-mg[disabled]:active,
.btn-compartir[disabled]:active,
.btn[disabled].active,
.btn-mg[disabled].active,
.btn-compartir[disabled].active,
fieldset[disabled] .btn:hover,
fieldset[disabled] .btn-mg:hover,
fieldset[disabled] .btn-compartir:hover,
fieldset[disabled] .btn:focus,
fieldset[disabled] .btn-mg:focus,
fieldset[disabled] .btn-compartir:focus,
fieldset[disabled] .btn:active,
fieldset[disabled] .btn-mg:active,
fieldset[disabled] .btn-compartir:active,
fieldset[disabled] .btn.active,
fieldset[disabled] .active.btn-mg,
fieldset[disabled] .active.btn-compartir {
  background-color: #e3ad16;
  border-color: #d6a009;
  color: #FFFFFF; }

.navbar {
  background-color: rgba(0, 0, 0, 0.4); }

.card-body-blog {
  font-size: 15px;
  text-align: center; }

.btn-mg {
  background-color: #e37616;
  color: white;
  margin: 5px; }

.btn-compartir {
  background-color: grey;
  color: white;
  margin: 5px; }

.bi-facebook {
  color: #3b5998;
  font-size: 30px; }

.bi-instagram {
  color: #8a3ab9;
  font-size: 30px; }

.bi-twitter {
  color: #a5bdf2;
  font-size: 30px; }

.grid-container-nav {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 5px;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 5px;
  grid-template-areas: "logo botones buscador"; }

.logo {
  grid-area: logo; }

.botones {
  grid-area: botones; }

.buscador {
  grid-area: buscador; }

.grid-container-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.9fr;
  gap: 0px 0px;
  grid-template-areas: "header_dashboard" "tabla_dashboard"; }

.header_dashboard {
  grid-area: header_dashboard; }

.tabla_dashboard {
  grid-area: tabla_dashboard; }

.grid-container-footer {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 1.4fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "pages_footer pages2_footer search_footer" "copyright_footer . rrss_footer"; }

.rrss_footer {
  grid-area: rrss_footer; }

.copyright_footer {
  grid-area: copyright_footer; }

.pages_footer {
  grid-area: pages_footer; }

.pages2_footer {
  grid-area: pages2_footer; }

.search_footer {
  grid-area: search_footer; }
