@import "base/variables";
@import "base/colors";
@import "components/botones";
@import "components/navbar";
@import "base/maps";
@import "base/extends";
@import "base/mixins";
@import "components/footericon";
@import "base/mediaquery";

.grid-container-nav {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5px;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
    grid-template-areas:
    "logo botones buscador";
}
.logo { grid-area: logo;}
.botones { grid-area: botones; }
.buscador { grid-area: buscador; }

.grid-container-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.9fr;
    gap: 0px 0px;
    grid-template-areas:
    "header_dashboard"
    "tabla_dashboard";
}

.header_dashboard { grid-area: header_dashboard; }

.tabla_dashboard { grid-area: tabla_dashboard; }



.grid-container-footer {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 1.4fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
    "pages_footer pages2_footer search_footer"
    "copyright_footer . rrss_footer";
}

.rrss_footer { grid-area: rrss_footer; }

.copyright_footer { grid-area: copyright_footer; }

.pages_footer { grid-area: pages_footer; }

.pages2_footer { grid-area: pages2_footer; }

.search_footer { grid-area: search_footer; }