// Breakpoint 	        Class infix 	Dimensions
// Extra small 	        None 	        <576px
// Small 	            sm 	            ≥576px
// Medium 	            md 	            ≥768px
// Large 	            lg 	            ≥992px
// Extra large 	        xl 	            ≥1200px
// Extra extra large 	xxl 	        ≥1400px



@media screen and (max-width: 576px){

}

@media screen and (max-width: 768px){


}

@media screen and (max-width: 992px){
    footer .grid-container-footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 5px 0px;
        grid-template-areas:
        "pages_footer"
        "pages2_footer"
        "search_footer"
        "copyright_rrss_footer";
    }
    
    .pages_footer { 
    
    }
    
    .pages2_footer {
    
    }
    
    .search_footer {
    
    }
    
    .copyright_rrss_footer {
        display: flex;
    
    }

}

@media screen and (max-width: 1200px){
    header .grid-container-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
    grid-template-areas:
    "logo"
    "botones"
    "buscador";
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: stretch;
}
.botones {
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: stretch;
}
.buscador {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: stretch;
}

}